// Mixins in here

.-btn(width: 200px){
    display: block;
    margin: 0 10px 20px;
    cursor: pointer;
    height: 45;
    font-size: 2rem;
    border-radius: 10px;
    width: @width;
    background-color: teal;


}